<!--<div  class="login" fxLayout="row" fxLayoutAlign="center center" style="height: 100%;">
    <div class="register mat-elevation-z12">
        <div class="register-header" fxLayout="column" fxLayoutAlign="center center">
            <h2>Login</h2>
        </div>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="register-content" fxLayout="column" fxLayoutAlign="start stretch">
                <mat-input-container [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <input matInput type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required  placeholder="username" >
                    <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                </mat-input-container>
                <mat-input-container [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <input matInput type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required  placeholder="password" >
                    <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
                </mat-input-container>
                <div class="extra-options" fxLayout="row" fxLayoutAlign="center center">
                    <button [disabled]="loading" color="primary" mat-button>Login</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    <a [routerLink]="['/register']" class="btn btn-link">Register</a>
                </div>
            </div>
        </form>
    </div>
</div>-->

<div id="login-page" class="login">
    <div class="section--center mdl-shadow--4dp register">
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
            <div class="row">
                <div class="input-field col s12 center">
                    <!--<img src="../../images/logo/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">-->
                    <p class="center login-form-text">DOKITUP</p>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12 "  [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <i mz-icon-mdi class="prefix" [align]="'left'" [icon]="'account'" [size]="'36px'"></i>
                    <input type="text" name="username" [(ngModel)]="model.username" #username="ngModel" required  placeholder="username" >
                    <label for="username" class="center-align">Username</label>
                    <div *ngIf="f.submitted && !username.valid" class="alert">Username is required</div>
                </div>
            </div>
            <div class="row margin">
                <div class="input-field col s12">
                    <i mz-icon-mdi class="prefix" [align]="'left'" [icon]="'lock-outline'" [size]="'36px'"></i>
                    <input type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required  placeholder="password" >
                    <label for="password" class="">Password</label>
                    <div *ngIf="f.submitted && !password.valid" class="alert">Password is required</div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m12 l12 ml-2 mt-3">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember me</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <button [disabled]="loading" class="btn waves-effect waves-light col s12" >Login</button>
                    <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6 m6 l6">
                    <p class="margin medium-small"><a href="#">Register Now!</a></p>
                </div>
                <div class="input-field col s6 m6 l6">
                    <p class="margin right-align medium-small"><a href="#">Forgot password ?</a></p>
                </div>
            </div>
            <alert></alert>
        </form>
    </div>
</div>
