<app-nav-bar></app-nav-bar>

<div class="container detail">
    <button mz-button class="ng-tns-c12-3 btn waves-effect waves-light" (click)="goBack()">
        Retour
    </button>
    <h5>{{ title }}</h5>
  <section class="section--center site-max-width">
    <div class="mdl-shadow--4dp "  >
        <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text  " >
            <form materialize class="col s12" [formGroup]="form" (ngSubmit)="save()"  *ngIf="company != undefined">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">account_circle</i>
                        <input id="name" type="text" class="validate"
                               [(ngModel)]="company.name" formControlName="name"
                               [class.invalid]="form.controls['name'].touched && !form.controls['name'].valid"
                        >
                        <label for="name"
                               [class.active]="company.name"
                               data-error="Name is required and needs to contain at least 3 chars">
                            Name
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">place</i>
                        <input id="address" type="text" class="validate"
                               [(ngModel)]="company.address" formControlName="address"
                               [class.invalid]="form.controls['address'].touched && !form.controls['address'].valid">
                        <label for="address"
                               [class.active]="company.address"
                               data-error="Invalid address">
                            Adresse
                        </label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light" type="submit"
                        [disabled]="!form.valid">
                    Submit<i class="material-icons right">send</i>
                </button>
            </form>
        </div>
      </div>
  </section>
</div>