<app-nav-bar></app-nav-bar>

<div class="container detail" *ngIf="company != undefined">
    <button mz-button class="ng-tns-c12-3 btn waves-effect waves-light" (click)="goBack()">
        Retour
    </button>
    <h5>{{ title }}</h5>
  <section class="section--center site-max-width">
    <div class="mdl-shadow--4dp "  >
        <div class="mdl-cell mdl-cell--12-col mdl-card__supporting-text no-padding " >
          <img class="article-image" src="./assets/img/logotype.png" border="0" alt="">
          <p><strong>SIRET: </strong>{{ company.id }}</p>
          <p><strong>NAME: </strong>{{ company.name }}</p>
          <p><strong>ADRESSE: </strong>{{ company.address }}</p>
        </div>
      </div>
  </section>

        <mz-card class=" "
                 [hoverable]="true">
            <mz-card-title>
                Liste des dossiers:
            </mz-card-title>
            <mz-card-content>
                <table>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Actions</th>
                    </tr>
                    <tr id="user-{{user.id}}" class="" *ngFor="let user of folders" >
                        <td>
                            {{user.id}}
                        </td>
                        <td>
                            {{user.name}}
                        </td>
                        <td>
                            <i mz-icon-mdi class="red-text waves-effect waves-light" [align]="'center'" [icon]="'delete-circle'" [size]="'24px'"  ></i>
                        </td>
                    </tr>
                </table>
            </mz-card-content>
        </mz-card>

</div>