<mz-navbar >
  <a href="#" class="brand-logo">DOKITUP</a>
  <a id="btn-dropdown-demo" class="dropdown-right" href="#">{{currentUser}} <i mz-icon-mdi [align]="'right'" [icon]="'account'" [size]="'24px'"></i> </a>
</mz-navbar>

<mz-dropdown
        [id]="'dropdown-demo'"
        [align]="'left'"
        [belowOrigin]="false"
        [constrainWidth]="true"
        [dropdownButtonId]="'btn-dropdown-demo'"
        [gutter]="true"
        [hover]="false"
        [inDuration]="300"
        [outDuration]="300"
        [stopPropagation]="true"
>
  <mz-dropdown-item><a href="#!">One</a></mz-dropdown-item>
  <mz-dropdown-item><a href="#!">Two</a></mz-dropdown-item>
  <mz-dropdown-divider></mz-dropdown-divider>
  <mz-dropdown-item><a [routerLink]="['/login']">Logout</a></mz-dropdown-item>
</mz-dropdown>